
<div class="wrapper-list">
    {% if oR.sCreateGroup or oR.sEditGroup %}
        <div class="edit-panel">
            <h4>Группа</h4>
            {{ macros.form_text_fields(oR.dGroupFieldsV, "group") }}
        </div>
    {% elif oR.sCreateTask or oR.sEditTask %}
        <div class="edit-panel">
            <h4>Здача</h4>
            {{ macros.form_text_fields(oR.dTaskFieldsV, "task") }}
        </div>
    {% elif oR.sCreateProject or oR.sEditProject %}
        <div class="edit-panel">
            <h4>Проект</h4>
            {{ macros.form_text_fields(oR.dProjectFieldsV, "project") }}
        </div>
    {% elif oR.sSelectProject %}
    <div class="groups-panel groups-view-list">

        {% for oGroup in oR.oGroups %}
        <div class="group" id="group-{{oGroup.id}}">
            <div class="group-name" style="background:{{oGroup.color}}">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu">
                        <li><button type="submit" name="edit-group" value="{{oGroup.id}}" class="dropdown-item" >Редактировать</button></li>
                        <li><button type="submit" name="remove-group" value="{{oGroup.id}}" class="dropdown-item" >Удалить</button></li>
                    </ul>
                </div>
                <span>{{oGroup.name}}</span>
            </div>
            <div class="group-task-wrapper">
                {% for oTask in oR.lTasks[loop.index0] %}
                <div class="task {{ 'active-task' if oTask.id|string==oR.sSelectTask|string }}" id="task-{{oTask.id}}">
                    <div class="task-name">
                        {% include "projects/task_popupmenu.html" %}
                        <button type="submit" name="select-task" value="{{oTask.id}}" class="btn-title" >{{oTask.name}}</button>
                    </div>
                    <!-- <div class="task-html">{{oTask.a_html|safe}}</div> -->
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

    </div>
    {% endif %}

    {% include 'projects/task_panel.html' %}
</div>