<div class="task-panel">
    {% if oR.sSelectTask %}
        <div class="task-name">{{oR.oTask.name}}</div>
        <div class="task-desc">{{oR.oTask.a_html|safe}}</div>
        <div class="task-btn-panel">
            <div class="buttons-left">
                <button class="btn btn-secondary" title="" type="submit" name="toggle-task-tab" value="comments"><i class="bi bi-list-task"></i></button>
                <button class="btn btn-success" title="" type="submit" name="create-task-comment" value="1"><i class="bi bi-plus-square"></i></button>
                <button class="btn btn-secondary" title="" type="submit" name="toggle-task-tab" value="files"><i class="bi bi-files"></i></button>
                <button class="btn btn-success" title="" type="submit" name="create-task-file" value="1"><i class="bi bi-file-earmark-plus"></i></button> 
            </div>
            <div class="buttons-right">
                {% if oR.sToggleTaskTab == "files" %}
                <button class="btn btn-secondary" title="" type="submit" name="toggle-files-list-type" value="list"><i class="bi bi-list"></i></button>
                <button class="btn btn-secondary" title="" type="submit" name="toggle-files-list-type" value="grid"><i class="bi bi-grid"></i></button>  
                {% endif %}
            </div>
        </div>
        {% if oR.sToggleTaskTab == "comments" %}
            {% include 'projects/task_panel_comments.html' %}
        {% endif %}
        {% if oR.sToggleTaskTab == "files" %}
            {% include 'projects/task_panel_files.html' %}
        {% endif %}
    {% endif %}
</div>