:root {
    --icon-size: 20px;
    font-size: 12px;
}

body, html {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

* {
    border-radius: 0px !important;
}

.wrapper {
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: grid;
    grid-template-columns: 30px 220px 30px 1fr;
}

.wrapper-projects {
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: grid;
    grid-template-columns: 30px 220px 30px 1fr;
}

.wrapper-all-tasks-list {
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: grid;
    grid-template-columns: 30px 1fr 1fr;
}

.wrapper-list {
    display: grid;
    grid-template-columns: 1fr 400px;
}

.wrapper-kanban {
    display: grid;
    grid-template-columns: 1fr 400px;
}

.wrapper-index {
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: grid;
    grid-template-columns: 30px 1fr;
}

.wrapper-problems {
    display: grid;
    grid-template-columns: 30px 200px 30px 1fr;
}

.wrapper-files {
    display: grid;
    grid-template-columns: 30px 1fr;
}

.wrapper-notes {
    display: grid;
    grid-template-columns: 30px 1fr;
}

.wrapper-index .index-view {
    column-count: 3;
    padding: 5px;
}

.nav-panel {
    border-right: 1px solid rgba(0,0,0,0.4);
}

.nav-panel > * {
    width: 100%;
}

.panel-project {
    border-right: 1px solid #eee;
}

.panel-group {
    border-right: 1px solid #eee;
}

.panel-group .left-panel-list {
    /* border-top: 1px solid #eee; */
}

.panel-tree-category {
    border-right: 1px solid #eee;
}

.panel-tree-category .left-panel-list {
    /* border-top: 1px solid #eee; */
}

.panel-account {
    border-right: 1px solid #eee;
}

.item-row {
    display: grid;
    grid-template-columns: 30px 1fr;
}

.tree-item-row {
    display: grid;
    grid-template-columns: 30px 30px 1fr;
}

.tree-icon * {
    border: none;
    background: none;
}

.tree-icon button {
    display: contents;
}

.tree-spacer {
    display: inline-block;
    width: 10px;
}

.message-box-wrapper {
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.message-box {
    width: 400px;
}

.form-text-fields-account {
    padding: 10px;
}

.row-with-button {
    display: grid;
    grid-template-columns: 1fr 30px;
}

.list-group-item {
    min-height: 32px;
    display: grid;
    grid-template-columns: 1fr 30px;
}

.active .bg-primary {
    background: rgba(255, 255, 255, 0.3) !important;
}

.groups-view-kanban.groups-panel {
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
}

.groups-view-kanban .group {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    height: calc(100vh - 20px);
    padding: 5px;
    background: #eee;
    margin-right: 2px;
}

.groups-view-kanban .group-name * {
    font-size: 12px;
}

.groups-view-kanban .group-name span {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
}

.groups-view-kanban .group-name {
    font-weight: bold;
    font-size: 12px;
    display: grid;
    grid-template-columns: 1fr 30px;
    padding: 5px;
}

.groups-view-kanban .group-name .btn {
    opacity: 0.5;
}

.groups-view-kanban .task {
    padding: 0px;
    background: rgba(150,150,150,0.1);
    margin-top: 2px;
    margin-bottom: 2px;
}

.groups-view-kanban .task-html {
    padding: 5px;
    background: rgba(255,255,255,1);
    min-height: 50px;
    max-height: 200px;
    overflow-y: scroll;
}

.groups-view-kanban .task-name * {
    font-size: 12px;
}

.groups-view-kanban .task-name {
    display: grid;
    grid-template-columns: 1fr 30px;
    font-size: 12px;
    padding: 2px;
}

.groups-view-kanban .task-name span:first-child {
    display: flex;
    align-items: center;
    text-align: left;
    height: 100%;
}

.groups-view-kanban .task-name .btn {
    opacity: 0.5;
}


.groups-view-kanban .group-task-wrapper {
    height: calc(100vh - 60px);
    overflow-y: scroll;
}

.index-view {
    overflow-y: scroll;
}

.groups-view-list.groups-panel {
    overflow-y: scroll;
}

.groups-view-list .group {
    margin-bottom: 20px;
}

.groups-view-list .group:last-child {
    margin-bottom: 200px;
}

.groups-view-list .group-name {
    font-weight: bold;
    font-size: 12px;
    display: grid;
    grid-template-columns: 30px 1fr;
    padding: 5px;
    gap: 5px;
}

.groups-view-list .group-name span {
    display: block;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
}

.groups-view-list .group-name .btn {
    opacity: 0.5;
}

.groups-view-list .task-name {
    display: grid;
    grid-template-columns: 30px 1fr;
    font-size: 12px;
    padding: 5px;
    background: #eee;
    gap: 5px;
}

.groups-view-list .task-name span:first-child {
    display: flex;
    align-items: center;
    text-align: left;
    height: 100%;
}

.groups-view-list .task-name .btn {
    opacity: 0.5;
}

.edit-panel {
    padding: 5px;
    border-right: 1px solid #eee;
}

.task-panel {
    display: grid;
    grid-template-rows: auto 1fr 35px 1fr;
    gap: 5px;
    background: #eee;
    border-left: 1px solid #ddd;
}

.task-panel .task-name {
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.task-panel .task-desc {
    padding: 5px;
    background: rgba(250,250,250,0.3);
    overflow-y: scroll;
    border-bottom: 1px solid #ddd;
    max-height: 45vh;
}

.task-panel .task-btn-panel {
    display: flex;
    border-bottom: 1px solid #ddd;
}

.task-panel .buttons-right {
    justify-content: end;
}
.task-panel .task-btn-panel > * {
    display: flex;
    flex: 1 50%;
}

.task-panel .task-commments {
    padding: 5px;
    background: rgba(250,250,250,0.3);
    overflow-y: scroll;
    max-height: 45vh;
}

.task-panel .task-comment-wrapper {
    display: grid;
    grid-template-columns: 1fr 30px;
}

.task-panel .task-comment {
    padding: 5px;
    background: rgba(250,250,250,0.7);
    /* max-height: 100px; */
    overflow-y: auto;
    margin-bottom: 5px;
}

.task-panel .task-files-list {
    padding: 5px;
    background: rgba(250,250,250,0.3);
    overflow-y: scroll;
    max-height: 45vh;
}

.task-panel .task-files-grid {
    padding: 5px;
    background: rgba(250,250,250,0.3);
    overflow-y: scroll;
    max-height: 45vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.task-panel .preview-wrapper {
    width: 100px;
    height: 100px;
}

.task-panel .preview-wrapper img {
    width: 100%;
}

.task-panel .task-file-wrapper {
    display: grid;
    grid-template-columns: 1fr 70px;
}

.task-panel .task-file {
    padding: 5px;
    background: rgba(250,250,250,0.7);
    max-height: 100px;
    margin-bottom: 5px;
}

.task-file-grid-wrapper .task-file-name {
    text-overflow: ellipsis;
    max-height: 17px;
    height: 17px;
    overflow: hidden;
    font-size: 10px;
    width: 100px;
    white-space: nowrap;
}

.btn-title {
    border: none;
    background: none;
    text-align: left;
}

.active-task * {
}

.active-task,
.active-task .btn-title,
.active-task .task-name {
    background: rgb(116, 84, 242) !important;
    color: white;
}

.grid-table {
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}

.grid-row {
    display: grid;
    grid-template-columns: 100px 100px 100px 1fr 45px;
}

.grid-header-cell {
    background: #eee;
    font-weight: bold;
}

.grid-cell {
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    padding: 5px;
}