{% import "macros.html" as macros %}
{% include "b_header.html" %}

<form action="">

<div class="wrapper">
    {{ macros.menu() }}
    {{ macros.list_panel(oR.oProjects, oR.aProjectsButtons, oR.sSelectProject, "project", oR.sProjectFilter) }}
    {% if oR.sEditGroup %}
        <div class="edit-panel">{{ macros.form_text_fields(oR.dGroupFields, "group") }}</div>
    {% elif oR.sEditTask %}
        <div class="edit-panel">{{ macros.form_text_fields(oR.dTaskFields, "task") }}</div>
    {% elif oR.sProjectTask %}
        <div class="edit-panel">{{ macros.form_text_fields(oR.dProjectFields, "project") }}</div>
    {% elif oR.sSelectProject %}
    <div class="groups-panel groups-view-kanban">
        {% for oGroup in oR.oGroups %}
        <div class="group" id="group-{{oGroup.id}}">
            <div class="group-name" style="background:{{oGroup.color}}">
                <span>{{oGroup.name}}</span>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu">
                        <li><button type="submit" name="edit-group" value="{{oGroup.id}}" class="dropdown-item" href="#">Редактировать</button></li>
                        <li><button type="submit" name="remove-group" value="{{oGroup.id}}" class="dropdown-item" href="#">Удалить</button></li>
                    </ul>
                </div>
            </div>
            <div class="group-task-wrapper">
                {% for oTask in oR.lTasks[loop.index0] %}
                <div class="task" id="task-{{oTask.id}}">
                    <div class="task-name">
                        <span>{{oTask.name}}</span>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu">
                                <li><button type="submit" name="edit-group" value="{{oTask.id}}" class="dropdown-item" href="#">Редактировать</button></li>
                                <li><button type="submit" name="remove-group" value="{{oTask.id}}" class="dropdown-item" href="#">Удалить</button></li>
                                {% for oMoveGroup in oR.oGroups %}
                                <li><button type="submit" name="move-group" value="{{oMoveGroup.id}}" class="dropdown-item" href="#">Перенести в {{oMoveGroup.name}}</button></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="task-html">{{oTask.a_html|safe}}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

</form>
{% include "b_footer.html" %}